.body{
    /* background-image: url("/Memo-Book/images/bg2.jpg"); */
   background:linear-gradient(355deg,#EE7752,#52a566,#5f6497,#dcdd7e);
}

.container{
    opacity: 0.8;
}
.nav-item > h1:nth-child(1) {
    font-size: 56px;
    font-weight: 600;
    margin-top: 55px;
    color: #3d3a3a;
    }
@media only screen and (max-width:500px){
    .body{
        background:linear-gradient(323deg,#EE7752,#f83c3ca8,#59ce63,#dcdd7e); 
    }
   
    .nav-item > h1:nth-child(1) {
        font-size: 56px;
        font-weight: 600;
        margin-top: 55px;
        color: #3d3a3a;
        }
}
@media only screen and (max-width:614px){
    .searchbar{
        padding-top: 25px;;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex-wrap: wrap;
    } 
}
.searchbar{
    padding-top: 25px;;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/*detete icon style*/
.fa-trash-alt:before {
    content: "\f2ed";
    color: red;
}

/*edit icom style*/
.fa-edit:before {
    content: "\f044";
    color:green;
}

